h2 {text-align: center;}

label {
  display: block;
  max-width: 300px;
  margin: 10px auto;
  text-align: right;
}
input {
  width: 230px;
  height: 20px;
  padding-left: 5px;
  border: 1px solid;
}
input[type="submit"] {
  display: block;
  margin: 10px auto;
}
.ng-valid {border-color: green;}
.ng-invalid {border-color: red;}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

.error {
  color: red;
  font-size: 16px;
  text-align: center;
}