<!doctype html>
<html ng-app="customerApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body>

  <h2>Customer Satisfaction</h2>


  <form ng-controller="NewCustomerController" name="form" novalidate>

    <label>ID <input type="text" name="id" ng-model="id" placeholder="(Enter ID here)" required /></label>

    <label>Name <input type="text" name="name" ng-model="name" placeholder="(Enter name here)" required /></label>

    <label>type <input type="text" name="type" ng-model="type" placeholder="(Enter type ID here)" required /></label>

    <input type="submit" value="Insert" ng-click="insert(form)" ng-disabled="form.id.$invalid || form.name.$invalid || form.type.$invalid">

    <p class="error">{{message}}</p>

  </form>




  <div ng-controller="CustomersController">
    <table>
      <tr><th ng-repeat="item in table.head">{{item}}</th></tr>
      <tr ng-repeat="item in table.body">
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[9]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3] | date:"EEEE, MMMM dd, yyyy"}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5] | date:"EEEE, MMMM dd, yyyy"}}</td>
        <td>{{item[6]}}</td>
      </tr>
    </table>
    <p class="status">Status to get JSON: {{status}}</p>
  </div>

</body>
</html>